        @import url('https://fonts.googleapis.com/css?family=News+Cycle|Nobile');
        a{
            color:#FFFFFF;}
        #toolbar{
            background-color:#1dc47c;
            position:relative;}
        nav{
            font-family:Nobile, monospace,sans-serif;
            color:#FFFFFF;
            font-size:1.1em;}
        #rough{
            background-color:#1dc47c;
            font-family:Nobile,monospace, sans-serif;
            display: flex;
            flex-flow: row wrap;}
        .leftcol{
            width:48%;
            position: relative;
            margin-right: auto;
            flex: 1 0 15em;
            margin: .5em;}
        .rightcol{
            width:48%;
            position: relative;
            margin-left: auto;
            flex: 1 0 15em;
            margin: .5em;}
        h1,h2,h3,h4,h5,h6{
            color:#1f0ba0;
            font-family:NewsCycle,cursive,sans-serif;
            font-size:1.8em;}
        img {max-width: 100%;}
        .rush-info{
            color:#FFFFFF;}
        #banner{
            flex: 1 1 auto;}
        #bottom-row{
            text-align: center;
            width: 70%; margin: 0 auto;
            font-family:Nobile, monospace;}
        #relax{
            font-family:Nobile, monospace;
            display: flex;
            flex-flow: row wrap;}
        #content{
            width: 90%;
            max-width:960px;
            margin: 0 auto;}
        #social-media{
            display: flex;
            flex-flow: row-reverse;
            justify-content: space-between;
            height: 55px;}
        #copyright{
            text-align: left}
        section{
            padding: 15px;}
        p{
            line-height: 1.5;
            font-size: 1.2em} 
        h2{
            text-align: center}