        @import url('https://fonts.googleapis.com/css?family=News+Cycle|Nobile');
        a{
            color:#FFFFFF;}
        body{
            background-color:darkgray;}
        #toolbar{
            background-color:#1dc47c;
            position:relative;}
        #banner{
            flex: 1 1 auto;}
        #logo{
            position: relative;
            z-index: 10;
            background-color: white;
            width: 110px;
            border: 3px solid darkred;
            margin-left: 1em;
            margin-bottom: 1em;}
        nav{
            font-family:Nobile, monospace,sans-serif;
            color:#FFFFFF;
            font-size:1.3em;
            line-height:3em;
            margin-top: -5em;
            padding-left: 100px;}
        nav li{
            display: inline-block}
        nav a:link {
            color:yellow;
            text-decoration: none;}
        nav a:active {
            color:#1f0ba0;
            text-decoration: none;}
        nav a:visited {
            color:darkred;
            text-decoration: none;}
        nav a:hover {
            color:white;
            text-decoration:none;}
        nav ul{
            margin: 0;
            justify-content: space-around;
            flex-flow: row wrap;
            display: flex;
            list-style-type: none;}
        #rough{
            background-color:#1dc47c;
            font-family:Nobile,monospace, sans-serif;
            display: flex;
            flex-flow: row wrap;}
        .leftcol{
            width:48%;
            position: relative;
            margin-right: auto;
            flex: 1 0 15em;
            margin: .5em;}
        .rightcol{
            width:48%;
            position: relative;
            margin-left: auto;
            flex: 1 0 15em;
            margin: .5em;}
        h1,h2,h3,h4,h5,h6{
            color:#1f0ba0;
            font-family:NewsCycle,cursive,sans-serif;
            font-size:1.8em;}
        img {max-width: 100%;}
        .rush-info{
            color:#FFFFFF;}
        #bottom-row{
            text-align: center;
            width: 70%; margin: 0 auto;
            font-family:Nobile, monospace;}
        #relax{
            font-family:Nobile, monospace;
            display: flex;
            flex-flow: row wrap;}
        #content{
            width: 90%;
            max-width:960px;
            margin: 0 auto;}
        #social-media{
            display: flex;
            flex-flow: row-reverse;
            justify-content: space-between;
            height: 55px;}
        #copyright{
            text-align: left}
        section{
            padding: 15px;}
        p{
            line-height: 1.5;
            font-size: 1.2em} 
        h2{
            text-align: center}
